<form [formGroup]="form" (ngSubmit)="submit()" class="login-form">
  <div class="login-form__group">
    <label for="exampleInputEmail1" class="login-form__label">Email address</label>
    <input type="email"
           class="login-form__input"
           id="exampleInputEmail1"
           aria-describedby="emailHelp"
           placeholder="Enter email"
           formControlName="email"
           required>
    <small id="emailHelp" class="login-form__text">We'll never share your email with anyone else.</small>
    <p class="login-form__error" *ngIf="emailControl?.invalid && emailControl?.touched">Enter valid email example: Ivan@gmail.com</p>
  </div>
  <div class="login-form__group">
    <label for="exampleInputPassword1" class="login-form__label">Password</label>
    <input type="password"
           class="login-form__input"
           id="exampleInputPassword1"
           placeholder="Password"
           formControlName="password"
           required>
           <p class="login-form__error" *ngIf="passwordControl?.invalid && passwordControl?.touched">Password should not be less than 6 symbols</p>
  </div>
  <div class="login-form__group">
    <label class="login-form__checkbox-label">
      <input type="checkbox"
             class="login-form__checkbox-input"
             formControlName="rememberMe"
             name="rememberMe">
      <span class="login-form__checkbox-text">Remember me</span>
    </label>
  </div>
  <button type="submit" class="login-form__submit-btn">Submit</button>
</form>
